.profile {
  grid-column: 2/3;
}

.profile__content {
  display: grid;
  grid-template-columns: 160px 1fr;
  column-gap: 50px;
}

.profile > img,
.profile__content img {
  width: 992px;
  height: 170px;
  margin-bottom: 20px;
  object-fit: cover;
}

.profile__img img {
  width: 160px;
  height: 160px;
}

.profile__description p {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.profile__description span {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #283645;
}
