.app-container {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  width: 1200px;
  margin: 0 auto;
}

.app-container__header {
  grid-column: 1/-1;
  background-color:aqua;
}

.app-container__header img {
  height: 60px;
  width: 60px;
}

.app-container__navigation {
  grid-column: 1/2;
  background-color:coral;
}

.app-container__navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.app-container__profile {
  grid-column: 2/3;
  background-color:darksalmon;
}

.app-container__profile img {
  width: 1140px;
  height: 150px;
  object-fit: cover;
}
