.myPosts__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.myPosts button{
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  background-color: #A87B62;
  border: 1px solid black;
}