.navigation {
  grid-column: 1/2;
  background-color: rgba(177, 131, 116, 0.6);
}

.navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation a {
  padding: 10px 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #fff;
}
